{{>header}}
    {{>navbar}}
   <!---main-heade --->
   <div class="container-fluid main_header">
      <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!--left side div-->
                   <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/my.jpeg" alt="riya" class="img-fluid" title="riya shaw">
                    </figure>

                   </div>
                   
                   <!--right side div-->
                   <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="text_clr"> Student</span> of UEM</h1>
                     <a href="/"><button>Back</button></a>

                </div>
                  

               </div>

           </div>
      </div>
    </div> 
    <!--footer code-->
    <footer>
      <p>Created with ♥ by riya shaw</p>
    </footer>
      

</body>
</html>
